<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qidao.qidao.member.memberLabel.mapper.MemberLabelMapper">
    <select id="findLabel" resultType="com.qidao.qidao.member.memberLabel.domain.MemberLabelListRes" parameterType="com.qidao.qidao.member.memberLabel.domain.MemberLabelListReq">
        SELECT m.id memberId , m.`name` memberName , l.val label , sc.val industry , m.phone , m.belong , m.create_time createTime , l.id  labelId
        FROM `member` m
                 LEFT JOIN `link_label` ll on m.id = ll.source_id and ll.type = 3 and ll.del_flag = 0
                 LEFT JOIN `label` l on ll.label_id = l.id and l.del_flag = 0
                 LEFT JOIN `select_config` sc on m.industry_id = sc.id and sc.`status` = 0 and sc.del_flag = 0
        where m.del_flag = 0
        <if test="name != null and name != ''">
            and (m.`name` like concat(concat('%',#{name}),'%') or l.val like concat(concat('%',#{name}),'%'))
        </if>
        <if test="startTime != '' and endTime != ''">
            and m.create_time between #{startTime} and #{endTime}
        </if>
        <if test="startTime != '' and endTime == ''">
            and m.create_time >= #{startTime}
        </if>
        <if test="endTime != '' and startTime == ''">
            and m.create_time <![CDATA[ <= ]]> #{endTime}
        </if>
order by m.create_time desc
    </select>
    <select id="findLabelById"
            resultType="com.qidao.qidao.member.memberLabel.domain.MemberLabelDescriptionRes">
        SELECT m.id memberId , m.`name` memberName , l.val label , sc.val industry , m.phone , m.belong , m.create_time createTime , o.type
        FROM `member` m
                 LEFT JOIN `link_label` ll on m.id = ll.source_id and ll.type = 3 and ll.del_flag = 0
                 LEFT JOIN `label` l on ll.label_id = l.id and l.del_flag = 0
                 LEFT JOIN `select_config` sc on m.industry_id = sc.id and sc.`status` = 0 and sc.del_flag = 0
                 LEFT JOIN `organization` o on m.organization_id = o.id and o.del_flag = 0
        where m.del_flag = 0 and m.id = #{memberId} and l.id = #{labelId}
    </select>
</mapper>