<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改环信聊天记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-logChatMsg-edit" th:object="${tLogChatMsg}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">消息内容：</label>
                <div class="col-sm-8">
                    <textarea name="chatMsg" class="form-control">[[*{chatMsg}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">消息发送时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><em class="fa fa-calendar"></em></span>
                        <input name="msgTime" th:value="${#dates.format(tLogChatMsg.msgTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">消息类型  0-文本类型消息 1-图片类型消息 2-地址位置类型消息 3-语音类型消息 4-视频类型消息 5-文件类型消息：</label>
                <div class="col-sm-8">
                    <select name="msgType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><em class="fa fa-info-circle"></em> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">聊天类型 0-单聊、1-群聊、2-聊天室：</label>
                <div class="col-sm-8">
                    <select name="chatType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><em class="fa fa-info-circle"></em> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <input name="toEasemob" th:field="*{toEasemob}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">(环信）发送人username：</label>
                <div class="col-sm-8">
                    <input name="fromEasemobMember" th:field="*{fromEasemobMember}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">接收人ID：</label>
                <div class="col-sm-8">
                    <input name="toMemberId" th:field="*{toMemberId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发送人id：</label>
                <div class="col-sm-8">
                    <input name="fromMemberId" th:field="*{fromMemberId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">null：</label>
                <div class="col-sm-8">
                    <input name="easemobMsgId" th:field="*{easemobMsgId}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "msg/logChatMsg";
        $("#form-logChatMsg-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-logChatMsg-edit').serialize());
            }
        }

        $("input[name='msgTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>