<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改广告信息')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-advertise-edit" th:object="${advertise}">
            <input name="id" th:field="*{id}" type="hidden">
            <input name="oldCanal" th:value="*{canalId}" type="hidden">
            <input name="oldLocation" th:value="*{locationId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">标题：</label>
                <div class="col-sm-8">
                    <input name="title" th:field="*{title}" id="title" maxlength="32" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">位置：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="location" id="location">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">渠道：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="canal" id="canal">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">频道：</label>
                <div class="col-sm-8">
                <input name="title" th:field="*{channel}" id="channel" maxlength="32" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">排序值：</label>
                <div class="col-sm-8">
                    <input name="sequence" th:field="*{sequence}" class="form-control" min="0" placeholder="越大越前" type="number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">链接：</label>
                <div class="col-sm-8">
                    <input name="linkUrl" th:field="*{linkUrl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">上架时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><em class="fa fa-calendar"></em></span>
                        <input name="beginTime" th:field="*{beginTime}" class="form-control" placeholder="年：月：日 时：分：秒" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">下架时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><em class="fa fa-calendar"></em></span>
                        <input name="endTime" th:field="*{endTime}" class="form-control" placeholder="年：月：日 时：分：秒" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">图片：</label>
                <div class="col-sm-8">
                    <th:block th:include="code :: upload_html(imgId='img',showVal=*{img})" />
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="code :: cos_img_js('img')"/>
    <script type="text/javascript">
        var prefix = ctx + "advertise/advertise";
        $("#form-advertise-edit").validate({
            focusCleanup: true
        });

        var canalId = [[${advertise.canalId}]]
        var locationId = [[${advertise.locationId}]]

        function submitHandler() {
            if ($("#title").val().length > 32 ){
                $.modal.msg("标题长度不能超过32个字", modal_status.FAIL)
            }
            if ($.validate.form()) {
                $.operate.save(prefix + "/update", $('#form-advertise-edit').serialize());
            }
        }

        $(function (){
            $.ajax({
                url: ctx+"config/select/getConfigByType/19",
                data: {},
                type: "get",
                dataType: "json",
                success: function (data){
                    $("#location").empty();
                    for(let i = 0 ; i<data.length ; i++){
                        $("#location").append("<option value='"+data[i].id+"'>"+data[i].val+"</option>")
                    }
                    $("#location").find("option[value='" + locationId + "']").attr("selected", true)
                }
            })
            $.ajax({
                url: ctx+"canal/canal/findAllCanal",
                data: {},
                type: "get",
                dataType: "json",
                success: function (data){
                    $("#canal").empty();
                    for(let i = 0 ; i<data.length ; i++){
                        $("#canal").append("<option value='"+data[i].id+"'>"+data[i].name+"</option>")
                    }
                    $("#canal").find("option[value='" + canalId + "']").attr("selected", true)
                }
            })
        })

        $("input[name='endTime']").datetimepicker({
            format: "yyyy-mm-dd HH:ii:ss",
            minuteStep: 1
        }).on("click",function(ev){
            $("input[name='endTime']").datetimepicker("setStartDate", $("input[name='beginTime']").val());
        });
        $("input[name='beginTime']").datetimepicker({
            format: "yyyy-mm-dd HH:ii:ss",
            minuteStep: 1
        }).on("click",function(ev){
            $("input[name='beginTime']").datetimepicker("setEndDate", $("input[name='endTime']").val());
        });
    </script>
</body>
</html>