<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('通知公告列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="notice-form">
					<div class="select-list">
						<ul>
							<li>
								公告标题：<input type="text" name="noticeTitle"/>
							</li>
							<li>
								操作人员：<input type="text" name="createBy"/>
							</li>
							<li>
								公告类型：<select name="noticeType" th:with="type=${@dict.getType('sys_notice_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><em class="fa fa-search"></em>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><em class="fa fa-refresh"></em>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="system:notice:add">
		            <em class="fa fa-plus"></em> 新增
		        </a>
		        <a class="btn btn-primary single disabled" onclick="$.operate.editFull()" shiro:hasPermission="system:notice:edit">
		            <em class="fa fa-edit"></em> 修改
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:notice:remove">
		            <em class="fa fa-remove"></em> 删除
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:notice:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:notice:remove')}]];
        var types = [[${@dict.getType('sys_notice_type')}]];
        var datas = [[${@dict.getType('sys_notice_status')}]];
        var prefix = ctx + "system/notice";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "公告",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'noticeId', 
					title : '序号' 
				},
				{
					field : 'noticeTitle', 
					title : '公告标题' 
				},
				{
		            field: 'noticeType',
		            title: '公告类型',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(types, value);
		            }
		        },
				{
		            field: 'status',
		            title: '状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
				{
					field : 'createBy', 
					title : '创建者' 
				},
				{
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true,
                    formatter(value) {
                        if(value==null){
                            return '<span style="color: red;">-</span>'
                        }
                        return   formatterDateTimestamp(value)
                    }
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.noticeId + '\')"><em class="fa fa-edit"></em>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.noticeId + '\')"><em class="fa fa-remove"></em>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        function formatterDateTimestamp (type, addTime) {
            // var dateObj = new Date();
            // var cTime = dateObj.getTime();
            // if(addTime){cTime += addTime;}
            if(addTime){type += addTime;}
            if(!type){type = 'number';}
            if(type == 'number'){return type;}
            return this.toDate(type / 1000, 'str');
        }
        // 时间戳转 YY-mm-dd HH:ii:ss
        function toDate(timeStamp, returnType){
            timeStamp = parseInt(timeStamp);
            var date = new Date();
            if(timeStamp < 90000000000 ){
                date.setTime(timeStamp * 1000);
            }else{
                date.setTime(timeStamp );
            }
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            m = m < 10 ? ('0' + m) : m;
            var d = date.getDate();
            d = d < 10 ? ('0' + d) : d;
            var h = date.getHours();
            h = h < 10 ? ('0' + h) : h;
            var minute = date.getMinutes();
            var second = date.getSeconds();
            minute = minute < 10 ? ('0' + minute) : minute;
            second = second < 10 ? ('0' + second) : second;
            if(returnType == 'str'){return y + '-' + m + '-' + d + ' '+ h +':' + minute + ':' + second;}
            return [y, m, d, h, minute, second];
        }
    </script>
</body>
</html>