<div th:fragment="upload_html">
    <input th:name="${imgId}" th:id="${imgId}" th:value="${showVal}" class="form-control" type="hidden">
    <div class="form-group" th:id="'form_group_'+${imgId}">
        <label class="font-noraml" th:text="${showStr}"></label>
        <div class="file-loading">
            <input th:id="'localupload_'+${imgId}" type="file" name="file" multiple data-min-file-count="1">
        </div>
    </div>
</div>
<div th:fragment="upload_js(imgId)">
    <script th:inline="javascript">
        $(function () {
            $("#localupload_" + [[${imgId}]]).fileinput({
                'theme': 'explorer-fas',
                'uploadUrl': ctx + 'common/upload',
                overwriteInitial: false,
                maxFileCount: 1,
                dropZoneTitle: '拖拽文件到这里',
                initialPreviewAsData: true,
                initialPreview: [$('#' + [[${imgId}]]).val()],
            }).on("fileuploaded", function (event, data, previewId, index) {
                $('#' + [[${imgId}]]).val(data.response.url);
            });
        })
    </script>
</div>
<div th:fragment="fdfs_js(imgId)">
    <script th:inline="javascript">
        $(function () {
            $("#localupload_" + [[${imgId}]]).fileinput({
                'theme': 'explorer-fas',
                'uploadUrl': ctx + 'fdfs/upload',
                overwriteInitial: false,
                maxFileCount: 1,
                dropZoneTitle: '拖拽文件到这里',
                initialPreviewAsData: true,
                initialPreview: [Base.Picture.getDown() + $('#' + [[${imgId}]]).val()],
            }).on("fileuploaded", function (event, data, previewId, index) {
                let downPath = data.response.url;
                let imgEle = $('#' + [[${imgId}]])
                let oldVal = imgEle.val();
                if (Bee.StringUtils.isNotBlank(oldVal)) {
                    downPath = oldVal + "," + downPath
                }
                imgEle.val(downPath);
            });
        })
    </script>
</div>

<div th:fragment="cos_img_js(imgId)">
    <script th:inline="javascript">
        $(function () {
            $("#localupload_" + [[${imgId}]]).fileinput({
                uploadUrl: ctx + 'cos/tencent/img',
                overwriteInitial: false,
                maxFileCount: 1,
                maxSize: 10,
                dropZoneTitle: '拖拽文件到这里',
                layoutTemplates: {
                    actions: '<div class="file-actions">\n' +
                        '    <div class="file-footer-buttons">\n' +
                        '        {download} {zoom} {other}' +
                        '    </div>\n' +
                        '    {drag}\n' +
                        '    <div class="clearfix"></div>\n' +
                        '</div>',
                },
                validateInitialCount: true,
                initialPreviewAsData: true,
                initialPreview: Base.Picture.showBackUploadArray($('#' + [[${imgId}]]).val()),
            }).on("fileuploaded", function (event, data, previewId, index) {
                // let count = $("#localupload_"+[[${imgId}]]).fileinput('getFilesCount')
                let downPath = data.response.url;
                let imgEle = $('#' + [[${imgId}]])
                let oldVal = imgEle.val();
                if (Bee.StringUtils.isNotBlank(oldVal)) {
                    downPath = oldVal + "," + downPath
                }
                imgEle.val(downPath);
            })
                .on('filebatchselected', function (evt, fileMap) {
                    let thisDiv = $("#form_group_" + [[${imgId}]]);
                    let imgEle = $("#localupload_" + [[${imgId}]]);

                    let allFileCount = thisDiv.find('.kv-preview-thumb').length;
                    let unUploadKeyArray = Object.keys(fileMap);
                    let extraFileCount = allFileCount - 1;
                    if (extraFileCount > 0) {
                        imgEle.fileinput('_showError', '超出最大文件的限制个数 1.');
                        for (let i = unUploadKeyArray.length; i >= 0; i--) {
                            const key = unUploadKeyArray[i]
                            imgEle.fileinput('removeFile', key);
                            $('.file-preview-frame[data-fileid="' + key + '"]').remove();
                        }
                    }
                })
                .on("fileclear", function (event, data, previewId, index) {
                    let imgEle = $('#' + [[${imgId}]])
                    imgEle.val('');
                });
        })
    </script>
</div>

<div th:fragment="cos_img_js_mult(imgId,maxSize)">
    <script th:inline="javascript">
        $(function () {
            $("#localupload_" + [[${imgId}]]).fileinput({
                uploadUrl: ctx + 'cos/tencent/img',
                overwriteInitial: false,
                maxFileCount: [[${maxSize}]],
                maxSize: 10,
                dropZoneTitle: '拖拽文件到这里',
                layoutTemplates: {
                    actions: '<div class="file-actions">\n' +
                        '    <div class="file-footer-buttons">\n' +
                        '        {download} {upload} {zoom} {other}' +
                        '    </div>\n' +
                        '    {drag}\n' +
                        '    <div class="clearfix"></div>\n' +
                        '</div>',
                },
                initialPreviewAsData: true,
                initialPreview: Base.Picture.showBackUploadArray($('#' + [[${imgId}]]).val()),
            }).on("fileuploaded", function (event, data, previewId, index) {
                let downPath = data.response.url;
                let imgEle = $('#' + [[${imgId}]])
                let oldVal = imgEle.val();
                if (Bee.StringUtils.isNotBlank(oldVal)) {
                    downPath = oldVal + "," + downPath
                }
                imgEle.val(downPath);
            }).on('filebatchselected', function (evt, fileMap) {
                let thisDiv = $("#form_group_" + [[${imgId}]]);
                let imgEle = $("#localupload_" + [[${imgId}]]);

                let allFileCount = thisDiv.find('.kv-preview-thumb').length;

                let unUploadKeyArray = Object.keys(fileMap);
                let extraFileCount = allFileCount - [(${maxSize})];
                if (extraFileCount > 0) {
                    imgEle.fileinput('_showError', '超出最大文件的限制个数 ' + [[${maxSize}]]);
                    for (let i = unUploadKeyArray.length; i >= unUploadKeyArray.length - extraFileCount; i--) {
                        const key = unUploadKeyArray[i]
                        imgEle.fileinput('removeFile', key);

                        $('.file-preview-frame[data-fileid="' + key + '"]').remove();
                    }
                }
            }).on("fileclear", function (event, data, previewId, index) {
                let imgEle = $('#' + [[${imgId}]])
                imgEle.val('');
            });
        })
    </script>
</div>